@import './variables';

@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
 height: 100vh;
 @include flexbox; 

}

.card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    height: 40%;
    width: 25rem;
    margin: 1rem;
    position: $position_relative;
    cursor: pointer;
  
    
    &:hover img{
        transform: scale(1.2);
        transition: .1s;
        
    }
    & img{
        width: 400px;
        height: 450px;
        position:$position_absolute;
        top: 10px;
       
        margin: 5px;
        border-radius: 30px;
        border-style: solid;
        border-color: $border-color;
        border-width: 8px;
    }
    & .layer{
      text-align: center;
        position: $position_relative;
        color: $color_grey;
        
    }
    & h1{
        
        margin-top: 2rem;
        color: black;
    }
    & p{
        font-size: $font_size;
        padding: 1rem;

    }
    & a{
        text-decoration: none;
        font-size:$font_size;
        color:$color_grey;
        &:hover{
            text-decoration: underline;
           
        }
    }
    & span{
        font-size: $font_size;
    }
}