* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  height: 40%;
  width: 25rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
}

.card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .1s;
  transition: .1s;
}

.card img {
  width: 400px;
  height: 450px;
  position: absolute;
  top: 10px;
  margin: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: #a01ea0;
  border-width: 8px;
}

.card .layer {
  text-align: center;
  position: relative;
  color: #0e0c0c;
}

.card h1 {
  margin-top: 2rem;
  color: black;
}

.card p {
  font-size: 1.2rem;
  padding: 1rem;
}

.card a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #0e0c0c;
}

.card a:hover {
  text-decoration: underline;
}

.card span {
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */